<!--  Replace menu links here -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/devops.html">Devops</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">AWS</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Azure</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Selenium</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">API</a>
</li>
<li class="nav-item">
<a  href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
